.super-mario {
  width: 200px;
  position: absolute;
  left: 400px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 380px;
  left: 470px;
  
}

.baloon {
  position: absolute;
  left: 640px;
  z-index: 1;
  top: 150px;

}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 2;
  left: 665px;
  top: 195  px;

  
}

.bowser {
  width: 200px;
  position: absolute;
  top: 350px;
  left: 900px;
  
}